*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #003551;
}
.container{
    background-color: #00253A;
}
.alltasks{
    background-color: #008689;
    transition: all 0.5s ease-in-out;
}
.alltasks:hover{
    background-color: #026f71;
    transform: scale(1.05);
}
.button{
    background-color: #006089;
    transition: all 0.5s ease-in-out;
}
.button:hover{
    background-color: rgb(19, 128, 201);
}
i:hover{
    color: white;
}
.nb-spinner{
    width: 75px;
    height: 75px;
    margin: auto;
    background: transparent;
    border-top: 4px solid #03A9FA;
    border-right: 4px solid transparent;
    border-radius: 50%;
    -webkit-animation: 0.5s spin linear infinite;
    animation: 0.5s spin linear infinite;
}
@-webkit-keyframes spin{
    from{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}